<form action="<%= new_list_path(project) %>" method="post">
  <fieldset>
    <ul>
      <li>
        <%# label_for :list, :name, 'Name' %>
        <%# text_field_for :list, :name %>

        <label for="list-title">Title</label>
        <input type="text" name="list[name]" id="list-name" />
      </li>
    </ul>
  </fieldset>

  <button type="submit">Add List</button>
</form>
