<h2><%= list.name %></h2>

<ul>
  <% list.tasks.each do |task| %>
    <%== partial 'tasks/task', :locals => { :task => task } %>
  <% end %>
</ul>

<%# partial 'tasks/form', :locals => { :list => list } %>
