<form action="<%= new_task_path(list) %>" method="post">
  <fieldset>
    <ul>
      <li>
        <label for="task-title">Title</label>
        <input type="text" name="task[title]" id="task-title" />
      </li>

      <li>
        <label>
          <input name="task[completed]" type="checkbox" /> Completed?
        </label>
      </li>
    </ul>
  </fieldset>

  <button type="submit">Add Project</button>
</form>
