<form action="/tasks" method="post">
  <fieldset>
    <ul>
      <li>
        <label for="task-title">Title</label>
        <input type="text" name="task[title]" id="task-title" />
      </li>

      <li>
        <label>
          <input name="task[completed]" type="checkbox" /> Completed?
        </label>
      </li>

      <li>
        <label>List</label>
        <select name="task[list_id]">
          <% project.lists.each do |list| %>
            <option value="<%= list.id %>"><%= list.name %></option>
          <% end %>
        </select>
      </li>
    </ul>
  </fieldset>

  <button type="submit">Add Project</button>
</form>
