<form action="<%= projects_path %>" method="post">
  <fieldset>
    <ul>
      <li>
        <label for="project-name">Name</label>
        <input type="text" name="project[name]" id="project-name" />
      </li>

      <li>
        <label for="project-description">Description</label>
        <textarea name="project[description]" id="project-description"></textarea>
      </li>
    </ul>
  </fieldset>

  <button type="submit">Add Project</button>
</form>
