<% if projects.any? %>
  <ul>
    <% projects.each do |project| %>
      <li><a href="<%= project_path(project) %>"><%= project.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p><%= translate 'projects.none' %></p>
<% end %>

<%== partial :form %>
