<h1><%= project.name %></h1>
<p><%= project.description %></p>

<hr />

<%# partial 'lists/form', :locals => { :project => project } %>
<%== partial 'shared/new_task_form', :locals => { :project => project } %>

<% project.lists.each do |list| %>
  <%== partial 'lists/list', :locals => { :list => list } %>
<% end %>
