<!DOCTYPE html>
<html>
  <head>
    <title>Projector</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link href="/stylesheets/application.css" rel="stylesheet" />-->
    <!--<script src="/javascripts/vendor/backbone.js" defer async></script>
    <script src="/javascripts/application.js" defer async></script>-->
  </head>

  <body>
    <%== yield %>
  </body>
</html>
